@use 'vars/var' as *;
@use 'vars/mixins' as m;

.header{
    background-color: $verde;

    @include m.telefono {
        background-color: $amarillo;
    }

    @include m.tablet {
        background-color: $verde;
    }

    @include m.desktop {
        background-color: $rosa;
    }

    @include m.desktopXL {
        background-color: $morado;
    }

    

    .contenido-header{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        

            @include m.tablet{
                flex-direction: row;
            }
    }
    
    h1{
        color: $blanco;
        font-size: 3rem;
        @include m.tablet{
            margin: 0;
        }
    }

    animation: easeOut 0.5s ease;
    

    @include m.tablet{
        &.fixed{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            // animation: showIn 0.5s ease;
            animation: easeIn 0.5s ease;
            z-index: 1;
            box-shadow: .1rem .2rem .3rem #333;
        }
    }

    @keyframes easeIn {
        0%{
            opacity: 0;
        }

        100%{
            opacity: 100%;
        }
    }

    @keyframes easeOut{
        0%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
    }


}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    // margin-block: 1rem;
    transition: all 0.5s ease;

    @include m.tablet{
        flex-direction: row;
    }

    a{
        color: $blanco;
        font-size: 2.4rem;

        &:hover,
        &.actual{
            color: $amarillo;
        }
    }
}
